<!DOCTYPE html>
<html>

<head>
	<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
	<style>
	  df-messenger {
	   --df-messenger-button-titlebar-color: white;
	   --df-messenger-button-titlebar-font-color:black;
	   --df-messenger-minimized-chat-close-icon-color:blue;
	  }
	</style>
</head>

<body>
	<df-messenger intent="WELCOME" chat-title="NCH Data Chatbot" agent-id="6eb7eafc-a140-4472-a063-84f68b30a86b" chat-icon="https://nch-chatbot.s3.us-east-2.amazonaws.com/chat-crepes1.png"
		language-code="en"></df-messenger>
</body>

</html>